.sd-card .sd-card-img-top {
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

.wy-side-nav-search, .wy-nav-top {
    background: #DF721A;
}

.wy-side-scroll {
    background: #31312C;
}

.wy-nav-content {
    max-width: none;
}