name: "All Tests"

on: [push]

jobs:
  build:
    strategy:
      matrix:
        poetry-version: ["1.8.2"]
        python-version: ["3.11"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set up Poetry
      uses: abatilo/actions-poetry@v3.0.0
      with:
          poetry-version: ${{ matrix.poetry-version }}

    - name: Install dependencies
      # install all requirements
      run: poetry install

    - name: Run serial tests with pytest
      run: poetry run pytest
